@import "tailwindcss";

@theme {
  --color-ahblue: #02ade6;
}

@utility animated-underline-0 {
  @apply
    after:bg-ahblue
    after:absolute
    after:bottom-0
    after:left-0
    after:h-0.5
    after:w-full
    after:opacity-0
    after:transition-opacity
    after:duration-200
    after:ease-in-out
    after:content-[""];
}

@utility animated-underline-100 {
  @apply
    animated-underline-0
    after:opacity-100;
}
